<!DOCTYPE HTML>
<html lang="en" dir="ltr">

<head>
<meta charset="utf-8">

<title>Mean Green Baking Machine</title>
 
</head>
<body>

<%= erb :header %>
    
<center>
<div class = "container row sweethome">
 
   
   <div class="productimage">
    <a href="/muffins"><img src="/assets/muffin8.jpg"></a>
   </div>

    
    <div class="productimage">
    <a href="/cakes"><img src="/assets/GreenC1home.jpg"></a>
    </div>

    
    <div class="productimage">
    <a href="/cookies"><img src="/assets/cookieGhome.jpg"></a>
    </div>

     <div class="productimage">
    <a href="/cakes"><img src="/assets/GreenC4home.jpg"></a>
    </div>

    
    
 

</div
<center><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h3><center> About Us    </center></h3>
<article><center>If you grew up in America, chances are you have a favorite type of cake. From Red Velvet Cake to Hummingbird Cake to Pineapple Upside Down Cake, America has a love affair with these sweet, crumbly baked treats. No one knew more on the subject of American cakes than my late friend, food historian Gil Marks. Gil spent several years uncovering the stories behind some of our favorite desserts, including many that are only recognizable in certain regions of the United States. The effort was a labor of love. For over a year, sharing the history he’d learned along with historically accurate American cake recipes. He also compiled a cookbook manuscript featuring these and many other recipes. It is my hope, along with his family and friends, that Gil’s American Cakes cookbook will eventually be published. The American food history research Gil gathered is truly invaluable.


</center>        </article>




<%= erb :footer %>


</body>


</html>