<footer style="width: 100%; bottom: 0; padding: 10px 0; background-color: #509138; text-align: center;">
<div class="socialmeds" style="margin-bottom: 5px; background-color: #509138;">


    <ul style="margin: 0 10px;">
        <li style="display: inline-block;"><a href="www.facebook.com" target="_blank"><img style="width: 52px; height: 52px;" src="assets/FBgreen.svg"></a></li>
        <li style="display: inline-block;"><a href="www.twitter.com" target="_blank"><img style="width: 52px; height: 52px;" src="assets/TwitGreen.svg"></a></li>
        <li style="display: inline-block;"><a href="www.snapchat.com" target="_blank"><img style="width: 52px; height: 52px;" src="assets/SnapGreen.svg"></a></li>
        <li style="display: inline-block;"><a href="www.instagram.com" target="_blank"><img style="width: 52px; height: 52px;" src="assets/IGgreen.svg"></a></li>


    </ul>

 <p style="color: silver margin: 0;">Copyright &copy; <span>The Mean Green Baking Company</span> 2018</p>
</div>
</footer>
