<div class="#">
    <form action="/form" method="post">
    <input type="email" name="email" placeholder="E-mail">
    <input class = 'btn btn-primary' style = 'margin-top: 10px;' type='submit' value = 'Submit'>
    </form>
</div>