<header>
<h1>Mean Green Baking Machine</h1>
    <nav>
        <ul>
        <li><a href="/">Bake Dump</li></a>
        <li><a href="/cakes">Mean Cakes</li></a>
        <li><a href="/cookies">Mean Cookies</li></a>
        <li><a href="/muffins">Mean Muffins</li></a>
         
        </ul>
    </nav>
    </header>