@import url('https://fonts.googleapis.com/css?family=Freckle+Face|Hanalei+Fill|Knewave|Shojumaru|Six+Caps');

/* font-family: 'Freckle Face', cursive;
font-family: 'Hanalei Fill', cursive;
font-family: 'Shojumaru', cursive;
font-family: 'Knewave', cursive;
font-family: 'Six Caps', sans-serif; */

html {
    background-color: #0A1A07;
}